.lenta{
    display: inline-block;
    float: left;
    width: 90vmin;
    height: 90vmin;
    margin: 5vmin calc(50% - 45vmin);
    border: 10px solid purple;
}
    .lenta > .row{
        display: inline-block;
        float: left;
        width: 100%;
        height: 25%;
    }
    .lenta > .row >  .column{
        display: inline-block;
        float: left;
        width: 25%;
        height: 100%;
    }